.Contact{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
form{
    width: 70%;
    padding: 8rem 5rem;
    border-radius: 50px;
    background-color: white;
    align-self: center !important;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.contact_header{
    font-size: 3rem;
}
.contact_form{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.input1{
    border: 0.2px solid rgba(211, 211, 211,0.5);
    outline: 0;
    width: 50%;
    height: 7rem;
    font-size: 2.2rem;
}
.input2{
    border: 0.2px solid rgba(211, 211, 211,0.5);
    outline: 0;
    width: 50%;
    height: 7rem;
    font-size: 2.2rem;

}
input{
    padding-left: 3rem;
}
input:focus{
    border:1px solid #4D90FE;
-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.3) inset;
-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.3) inset;
box-shadow:0 1px 2px rgba(141, 66, 226, 0.3) inset;
outline: none;
}
textarea:focus{
    border:1px solid #4D90FE;
-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.3) inset;
-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.3) inset;
box-shadow:0 1px 2px rgba(141, 66, 226, 0.3) inset;
outline: none;
}
.inputs{
    border: 0.2px solid rgba(211, 211, 211,0.5);
    outline: 0;
    height: 7rem;
    font-size: 2.2rem;
    

}
.textareas{
    border: 0.2px solid rgba(211, 211, 211,0.5);
    outline: 0;
    height: 7rem;
    font-size: 2.2rem;
    padding: 2rem 3rem;

}
.button_submit{
    border: 0;
    outline: 0;
    width: 30%;
    background-color: #8444df;
    color: white;
    cursor: pointer;
    align-self: flex-end;
    height: 7rem;
    font-size: 2.2rem;
    border-radius: 50px;
}
@media screen and (max-width: 642px) {
    .Contact{
        gap: 0rem !important;
    }
    form{
        width: 90%;
        background: transparent;
        border-radius: 0px;
        gap: 2rem;
    }
    .contact_header{
        font-size: 0.95rem;
    }
    .contact_form{
        width: 100%;
        flex-direction: column;
        gap: 2rem;
    }
    .input1{
        width: 100%;
        height: 3.5rem;
        font-size: 0.95rem;
    }
    .input2{
        width: 100%;
        height: 3.5rem;
        font-size: 0.95rem;
    
    }
    input{

        padding-left: 1.5rem;
    }
    .inputs{
        height: 3.5rem;
        font-size: 0.95rem;
        width: 100%;
        align-self: center;
    }
    .textareas{
        width: 93%;
        height: 3.5rem;
        font-size: 0.95rem;
        padding: 1rem 1.5rem;
        align-self: center;
    
    }
    .button_submit{
        width: 100% !important;
        margin: 0;
        height: 3.5rem;
        font-size: 0.95rem;
    }
}
@media screen and (max-width: 1007px) and (min-width: 642px) {
    .Contact{
        gap: 0rem !important;
    }
    form{
        width: 90%;
        background: transparent;
        border-radius: 0px;
        gap: 2rem;
    }
    .contact_header{
        font-size: 0.95rem;
    }
    .contact_form{
        width: 100%;
        flex-direction: column;
        gap: 2rem;
    }
    .input1{
        width: 100%;
        height: 3.5rem;
        font-size: 0.95rem;
    }
    .input2{
        width: 100%;
        height: 3.5rem;
        font-size: 0.95rem;
    
    }
    input{

        padding-left: 1.5rem;
    }
    .inputs{
        height: 3.5rem;
        font-size: 0.95rem;
        width: 100%;
        align-self: center;
    }
    .textareas{
        width: 97%;
        height: 3.5rem;
        font-size: 0.95rem;
        padding: 1rem 1.5rem;
        align-self: center;
    
    }
    .button_submit{
        width: 100% !important;
        margin: 0;
        height: 3.5rem;
        font-size: 0.95rem;
    }
}
@media screen and  (min-width: 1009px) and (max-width: 2400px){
    .Contact{
        gap: 2rem !important;
    }
    form{
        gap: 2rem;
    }
    .contact_header{
        font-size: 0.95rem;
    }
    .contact_form{
        gap: 2rem;
    }
    .input1{
        height: 3.5rem;
        font-size: 0.95rem;
    }
    .input2{
        height: 3.5rem;
        font-size: 0.95rem;
    
    }
    input{

        padding-left: 1.5rem;
    }
    .inputs{
        height: 3.5rem;
        font-size: 0.95rem;
    }
    .textareas{
        height: 3.5rem;
        font-size: 0.95rem;
        padding: 1rem 1.5rem;
        
    
    }
    .button_submit{
        height: 3.5rem;
        font-size: 0.95rem;
    }
}