.Home{
    background-color: #f7f7f7;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 6rem;
}
.home_side_bar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999999999999999;
}
.Home_about{
    width: 100%;
}
.Home_navbar{
    width: 100%;
    top: 0;
    z-index: 9999999999999999999999999999999999999999999999 !important;
}
.Home_navbar_up{
    top: 0;
    display: none !important;
}

.Home_footer{
    width: 100%;
    text-align: center;
    height: 2vh;
    padding: 1rem 0px;
    font-weight: bolder;
    font-size: 0.90rem;
    letter-spacing: 1px;
    font-family: Poppins, sans-serif;
    color: #333333;
    background-color: white;
}
@media screen and (max-width: 642px) {

.small_screen{
    display: block;
}
.large_screen{
    display: none;
}
}

@media screen and (max-width: 1007px) and (min-width: 642px) {
    .small_screen{
        display: block;
    }
    .large_screen{
        display: none;
    }
}
@media screen and  (min-width: 1009px) and (max-width: 2400px){
    .small_screen{
        display: none;
    }
    .large_screen{
        display: block;
    }
}