*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none !important;
}
html{
    scroll-behavior: smooth !important;
    -webkit-tap-highlight-color:transparent;
}
#root{
    min-height: 100vh;
    width: 100%;
}

.showFootbarOnscrollCss{
    width: 100%;
    z-index: 99999999999999999999999999999999;
    position: fixed;
    top: 0px;
  }
  .hideFootbarOnscrollCss{
    width: 100%;
    z-index: 99999999999999999999999999999999;
    position: fixed;
    top: -100px;
  
  }
  