*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none !important;
}
html{
    scroll-behavior: smooth !important;
    -webkit-tap-highlight-color:transparent;
}
#root{
    min-height: 100vh;
    width: 100%;
}